#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

export USE_PGXS=1

PG_VERSION := @BUILD_FLAVOR@

%:
	dh $@

override_dh_builddeb:
	dh_builddeb -- -Zgzip

override_dh_auto_build:
	$(MAKE) PG_CONFIG=/usr/lib/postgresql/$(PG_VERSION)/bin/pg_config

override_dh_auto_test:
	# nothing to do here

override_dh_auto_install:
	$(MAKE) install PG_CONFIG=/usr/lib/postgresql/$(PG_VERSION)/bin/pg_config DESTDIR=$(CURDIR)/debian/percona-pg-telemetry-$(PG_VERSION)

override_dh_installdocs:
	dh_installdocs --all README.*

override_dh_auto_clean:
	rm -rf results/* regression.*
	$(MAKE) clean || true
